.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-arrows_down {
  font-size:(33/10)*1px;
  width:(34.1/33)*1px;
}
.icon-bar-menu {
  font-size:(24.4/10)*1px;
  width:(30/24.4)*1px;
}
.icon-bell {
  font-size:(512/10)*1px;
  width:(512/512)*1px;
}
.icon-chat {
  font-size:(511.626/10)*1px;
  width:(511.626/511.626)*1px;
}
.icon-equalizer {
  font-size:(31.404/10)*1px;
  width:(31.404/31.404)*1px;
}
.icon-left-chevron {
  font-size:(30/10)*1px;
  width:(13/30)*1px;
}
.icon-mail {
  font-size:(512/10)*1px;
  width:(512/512)*1px;
}
.icon-minus-sign {
  font-size:(84.7/10)*1px;
  width:(349/84.7)*1px;
}
.icon-plus {
  font-size:(533.3/10)*1px;
  width:(533.3/533.3)*1px;
}
.icon-right-arrow {
  font-size:(22.1/10)*1px;
  width:(31.5/22.1)*1px;
}
.icon-search-symbol {
  font-size:(30/10)*1px;
  width:(30/30)*1px;
}
.icon-tag {
  font-size:(432.544/10)*1px;
  width:(432.544/432.544)*1px;
}
.icon-time {
  font-size:(432.13/10)*1px;
  width:(432.13/432.13)*1px;
}
