-
  var menu = [
                {name: 'Menu item', href: '#'},
                {name: 'Menu item', href: '#'},
                {name: 'Menu item', href: '#'},
                {name: 'Menu item', href: '#'},
                {name: 'Menu item', href: '#'}
              ]
-
  var post = [
                {name: 'Pro', title: 'Item title 1'},
                {name: 'Member', title: 'Item title 2'},
                {name: 'Member', title: 'Item title 3'},
                {name: 'Member', title: 'Item title 4'}
                ]

-
  var footerMenu = [
                    {name: 'About', href: '#'},
                    {name: 'Policies', href: '#'},
                    {name: 'Site Map', href: '#'},
                    {name: 'Help', href: '#'},
                    {name: 'Contact us', href: '#'}
                    ]

-
  var category = [
                  {name: 'Submenu item', href: '#', count: '1d'},
                  {name: 'Submenu item', href: '#', count: '1d'},
                  {name: 'Submenu item', href: '#', count: '1d'},
                  {name: 'Submenu item', href: '#', count: '1d'},
                  {name: 'Submenu item', href: '#', count: '1d'},
                  {name: 'Submenu item', href: '#', count: '1d'}
                  ]
